<ul style="list-style-type: none; margin: 0; padding: 0;">
  <li><%= link_to 'Pedidos', orders_path %></li>
  <li>  <%= link_to('Edit registration', edit_user_registration_path) %></li>
  <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
</ul>